
# BEGIN ShortPixelWebp
# Las directivas (líneas) entre «BEGIN ShortPixelWebp» y «END ShortPixelWebp» son
# generadas dinámicamente y solo deberían ser modificadas mediante filtros de WordPress.
# Cualquier cambio en las directivas que hay entre esos marcadores serán sobrescritas.

# END ShortPixelWebp